
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>    
<pre>

### 01) WAP to print “Hello World..!!”

In [2]:
print("Hello World")

Hello World

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [17]:
a = input("Enter Name : ")
print("Hello" , a,  "Welcome to Python Lab", end=".")

Enter Name :  dhvani

Hello dhvani Welcome to Python Lab.

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [18]:
a=int(input("Enter Num 1 : "))
b=int(input("Enter Num 2 : "))
c=int(input("Enter Num 3 : "))
print("Numbers : ",a,b,c)
print("Sum : ",a+b+c)
print("Average : ",(a+b+c)/3)

Enter Num 1 :  5
Enter Num 2 :  5
Enter Num 3 :  5

Numbers :  5 5 5
Sum :  15
Average :  5.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [22]:
name=input("Enter Name : ")
age = int(input("Enter Age " ))
percent = float(input("Enter Percentage : "))
print("Name : ",name,"Type:",type(name))
print("Age : ",age,"Type:",type(age))
print("Percentage : ",percent,"Type:",type(percent))

Enter Name :  Riya
Enter Age  18
Enter Percentage :  92.5

Name :  Riya Type: <class 'str'>
Age :  18 Type: <class 'int'>
Percentage :  92.5 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [31]:
print("Python", "Programming", "Basics" ,sep="|",end="###")

Python|Programming|Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [34]:
a=input("Enter : ")
print("Value : ",a)
print("Type : ",type(a))
print("ID: ",id(a))

Enter :  hello

Value :  hello
Type :  <class 'str'>
ID:  1602138130640

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [38]:
a=5
print("Original ID of a:",id(a))
a = 10
print("New ID of a:",id(a))

Original ID of a: 140709266830376
New ID of a: 140709266830536

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [41]:
print("Welcome to Python","This is second Lab","Enjoy Coding!",sep="\n")

Welcome to Python
This is second Lab
Enjoy Coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [75]:
print(f"{'Sr No':10}{'Name':10}{'Subject':10}{'Grade':10}{'Percentage':12}")
print(f"{'1':>5} {'Nisha Patel':^10} {'Math':^10} {'A':^10} {'92':>13}")
print(f"{'2':>5} {'Aarav Modi':^10} {'Science':^10} {'B+':^10} {'85':>12}")
print(f"{'3':>5} {'Jiya Shah':^10} {'English':^10} {'A+':^10} {'96':>12}")

Sr No     Name      Subject   Grade     Percentage
    1 Nisha Patel    Math        A                 92
    2 Aarav Modi  Science       B+               85
    3 Jiya Shah   English       A+               96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [85]:
a=float(input("Enter Number : "))
print(f"2 Decimal : {a:.2f} ")
print(f"3 Decimal : {a:.3f}")
print(f"Width 10:{a:10.2f}")

Enter Number :  5.2569874

2 Decimal : 5.26
3 Decimal : 5.257
Width 10:      5.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [87]:
a=int(input("Enter Number 1 : "))
b=int(input("Enter Number 2 : "))
print(f"Sum : {a+b}")
print(f"Difference : {a-b}")
print(f"Product : {a*b}")

Enter Number 1 :  5
Enter Number 2 :  5

Sum : 10
Difference : 0
Product : 25

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [91]:
date,month,year = input("Enter Date : ").split()
print(date,month,year,sep="/")
print(year,month,date,sep="-")

Enter Date :  11 10 2025

11/10/2025
2025-10-11

### 13) WAP to calculate area and perimeter of a circle.

In [97]:
import math
r=int(input("Enter Radius "))
print("Area : ",math.pi*r*r)
print("Perimeter : ",2*math.pi*r)

Enter Radius  10

Area :  314.1592653589793
Perimeter :  62.83185307179586

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [111]:
 c = int(input("Enter Degree : "))
print("Farenheit : ",(c*(9/5)+32))
f = float(input("Enter Farenheit : "))
print("Celsius : ",(f-32)*(5/9))

Enter Degree :  34

Farenheit :  93.2

Enter Farenheit :  93.2

Celsius :  34.0

 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [108]:
a = int(input("Enter Km : "))
print("Meter : ",a*1000)
print("Feet : ",a*3280)
print("Inch : ",a*39370)
print("Centimeter : ",a*100000)

Enter Km :  1

Meter :  1000
Feet :  3280
Inch :  39370
Centimeter :  100000